main 
{
    .container
    {
        height: 100vh;


        .account-info
        {
            padding-block: 40px;

            .username
            {
                margin-bottom: 40px;
            }
        }
    }

}